* {
  margin: 0;
  padding: 0;
}
.home {
  background: url(./images/greymountain.jpeg);
  height: 753px;
}
.menu ul {
  display: inline-flex;
  margin: 50px;
}
.menu ul li {
  list-style-type: none;
  margin: 0 20px;
  color: #ecebf3;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #ecebf3;
}
a:hover {
  color: darksalmon;
}
.aboutheading {
  padding-left: 200px;
  padding-top: 150px;
  color: cyan;
  font-size: 75px;
}
p {
  padding-left: 150px;
  padding-top: 30px;
  padding-right: 400px;
  color: wheat;
}
